{% extends "base.html" %}

{% block content %}



<h1> Welcome! </h1>

<div class = "content-section my-4">
  <br>
  <p><b>This is where Boomers can help each other and help other generations. </b>
     <br>
     <br>
  Can you send e-mail? Great! Some of your fellow boomers need help with very basic computer skill.
   <br><br>
  Can you speak English? Great! You can help ESL(English as Second language) people of any ages.
  
  </p>
</div>
<br>
<div class = "container-fluid">
<h2> You have time and you have experience. 
  Let's get most out of your skill and resource by contributing!  </h2>
</div>
<br>

{% endblock content %}
