{% extends "base.html" %}

{% block content %}

{% for r in room %}

<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#"> host: {{ r.host  }}</a>
        <small class="text-muted"> &emsp; {{ r.created|date:"F d, Y" }}</small>
      </div>
      <h2><a class="article-title" href="#">{{ r.name }}</a></h2>
      <p class="article-content"> Topic: {{ r.topic }}</p>
    </div>
  </article>

  {% endfor %}

{% endblock content %}
